!!! xml
!!! html

%html
	%head
		%title LACS Alumni Connect
	
%body
	#fb-root

	#wrapper
		#header

	#content
		= yield

	%script{:src => "http://connect.facebook.net/en_US/all.js"}
	%script{:src => "/script.js"}
