%h2 Register

%p Tell us a little about yourself... Feel free to write as little or as much as you want!

<fb:registration fields="[{'name': 'name'}, {'name': 'location'}, {'name': 'content', 'description': 'What are you up to these days?', 'type': 'text'}, {'name': 'passions', 'description': 'what are you passionate about?', 'type': 'text'}, {'name': 'influence', 'description': 'how has ACS influenced your life?', 'type': 'text'}, {'name': 'year', 'description': 'What year did you graduate?', 'type':'text'}, {'name': 'first_name_only', 'description': 'Show only my first name', 'type': 'checkbox'}]" redirect-uri="http://lacsalumni.com/register"></fb:registration>

:plain
	<script type='text/javascript'>
		$(document).ready(function() {
			$("#expand").click(function() {
				var f = $("iframe")[0].contentWindow.document;
				f.open();
				f.close();
					  
				$("input", f).remove();
			});
		});
	</script>
