@import url("/reset.css");

/* General Element Styles */

h1 {
	font-size: 25pt;
}

h4 {
	margin: 5px 0 0 0;
}

p {
	font-family: Palatino, sans-serif;
	font-size: 13pt;
}

p.message {
	padding: 10px;
	font-size: 16pt;
	border: 1px solid #ccc;
	background: #FFF8ED;
}

label {
	display: block;
}

/* Page Layout Styles */

#wrapper {
	margin: 20px 0 0 50px;
	padding: 0 10px;
	width: 800px;
}

#header img {
	float: right;
}

#footer {
	border-top: 1px solid #ccc;
	width: 100%;
	margin: 20px 0 30px 0;
}


/* Index Page Styles */

#already-registered {
	background: #F7FFED;
	border: 1px solid #ccc;
	padding-left: 10px;
	margin-top: 10px;
	display: none;
}

#map-wrapper {
	width: 796px;
	padding: 1px;
	background: white;
	border: 1px solid #ccc;
	margin-top: 40px;
}

#map {
	width: 100%;
	height: 500px;
}


/* Index Page People Table Styles */

#people {
	margin:20px 0;
	width: 100%;
}

#people tr td {
	padding: 3px;
	border: 1px solid #CCC;
}

#people tr.even td {
	background: #EDF1FF;
}

#people tr.odd td {
	
}

#people tr td.image {
	width: 50px;
	vertical-align: top;
}

#people tr td.image img {
	padding: 1px;
	background: white;
	border: 1px solid #CCC;
}

#people tr td.info {
	padding-left: 10px;
}

#people tr td.info div.meta {
	float: right;
	text-align: right;
	font-size: 8pt;
	color: gray;
}

#people tr td.info div.content {
	margin: 5px 0 2px 0;
}


/* Update Form Styles */

form.update {
	display: none;
}

form.update label {
	float: left;
	width: 150px;
}

form.update textarea, form.update input[type=text] {
	display: block;
	margin: 10px 0;
}

form.update textarea {
	width: 70%;
}


